ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-snow);
  font-size: calc(10px + 2vmin);
  -webkit-box-shadow: 0 8px 6px -6px var(--color-smoke);
  -moz-box-shadow: 0 8px 6px -6px var(--color-smoke);
  box-shadow: 0 8px 6px -6px var(--color-smoke);
}
