:root {
  --color-main: #60dbcf;
  --color-jumbo: #b5e6e1;
  --color-cardheader: #d5f2ef;
  --color-salmon: #d60707;
  --color-smoke: #dadada;
  --color-ash: #928f8f;
  --color-black: #000000;
  --color-progBG: #eee;
  --color-sliderBG: #eee7f5;
  --color-progShadow: rgba(0,0,0, 0.25);
}
