.card_header{
  padding: 0;
}

.location_container {
  display: flex;
  justify-content: space-between;
}

.city {
  display: flex;
  flex-direction: column;
  float: left;
}

.country {
  display: flex;
  flex-direction: column;
}

.date_container {
  display: flex;
  justify-content: space-between;
}