.card_header {
  padding: 0;
  font-weight: 700;
}

.location_container {
  display: flex;
  justify-content: space-between;
}

.location {
  display: flex;
  flex-direction: column;
  float: left;
}

.date {
  display: flex;
  flex-direction: column;
}

.date_container {
  display: flex;
  justify-content: space-between;
}

.tripcard {
  margin: 20px;
}

.fontWeight {
  font-weight: 700;
}

.trip_icons_container {
  color: var(--color-main);
  display: flex;
  justify-content: flex-end;
}

.delete_trip {
  padding: 0 10px;
  cursor: pointer;
}

.edit_trip {
  padding: 0 10px;
  cursor: pointer;
}
